<h3>Detail</h3>
{{#if product}}
<div class="d-flex justify-content-center align-items-center detail">
    <div class="d-flex align-items-center">
    <img src="/{{product.image}}" alt="product_image" class="col-md-6 detail-image">
    <div class="col-md-6 product-infor">
        <h4>{{product.name}}</h4>
        <p>{{product.description}}</p>
        <h5>{{product.price}}</h5>
        {{#if product.amount}}
            <h5>{{product.amount}} sản phẩm có sẵn</h5>
        {{else}}
            <h5 class="oos_status">Hết hàng</h5>
        {{/if}}
    </div>
</div>
</div>
{{/if}}