<h4>Cập nhật sản phẩm</h4>
<h6>Products</h6>

{{#each errors}}
<div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{this}}</strong>
</div>
{{/each}}

{{#if product}}
<form action="/products/edit/{{product._id}}" class="needs-validation" method="PUT" novalidate>
    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="validationCustom01">Id</label>
        <div class="col-sm-10">
            <input type="text" name="id" class="form-control" id="validationCustom01" value={{product.ID}} required>
        </div>
    </div>
    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="validationCustom02">Title:</label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="validationCustom02" value={{product.name}} required>
        </div>
    </div>
    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="validationCustom03">Summary:</label>
        <div class="col-sm-10">
            <input type="text" name="description" class="form-control" id="validationCustom03" value={{product.description}} required>
        </div>
    </div>

    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="validationCustom04">ImageUrl</label>
        <div class="col-sm-10">
            <input type="text" name="image" class="form-control" id="validationCustom04" value={{product.image}}>
        </div>
    </div>

    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="validationCustom05">Price :</label>
        <div class="col-sm-10">
            <input type="number" name="price" class="form-control" id="validationCustom05" value={{product.price}} required>
        </div>
    </div>

    <div class="col-md row">
        <label class="col-sm-2 col-form-label" for="validationCustom06">Number :</label>
        <div class="col-sm-10">
            <input type="number" name="amount" class="form-control" id="validationCustom06" value={{product.amount}} required>
            <button style="margin-top: 20px; text-align: center;" class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
{{/if}}